.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    margin-right: 30px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
/* banner  */

.banner{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.banner-description{
    margin-left: 100px;
}
.banner-description h1{
    font-size: 3.3rem;
    font-weight: bold;
    color: #3A3A3A;
}
.banner-description p{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.banner-img{
    width: auto;
    height: auto;
    margin: 80px auto;
    background-repeat: no-repeat;
    background-image: url(images/Circle\ design.svg);
    background-size: contain;
}
.btn{
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 41px;
    border: none;
}

/* production-img */

.production-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: center;
    text-align: center;
}
.production-img{
    gap: 10px;
    margin-top: 30px;
    margin-left: 40px;
    align-items: center;
    text-align: center;
}

/* popular collection  */

.popular-collection h3{
    text-align: center;
    margin-top: 70px;
}
.diffrent-collection{
    width: auto;
    height: auto;
    padding: 17px 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    align-items: center;
}
.diffrent-collection img{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diffrent-collection h2{
    font-size: 1.75rem;
    color: #18191F;
    margin: 5px auto;
}
.diffrent-collection h3{
    font-size: 1.5rem;
    color: #000000;
    margin: 10px auto;
}
.diffrent-collection h6{
    color: #FB8200;
    margin: 3px auto;
}
.diffrent-collection p{
    font-size: .8rem;
    font-weight: bold;
    color: #787885;
    margin: 0 auto;
}
.ratting-num{
    font-size: .8rem;
    color: #5E6366;
    font-weight: bold;
    padding: 10px;
}
.main-popular-collection{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.see-more{
    color: #E02C6D;
    font-size: 1.5rem;
    text-align: center;
}
/* featured products */
.featured-products{
    display: flex;
    width: 100%;
    height: auto;
    gap: 80px;
    margin: 100px auto;
    align-items: center;
    justify-content: space-evenly;
}
.popular-img{
    max-width: 420px;
}
.popular-descriptions{
    width: auto;
}
.popular-descriptions h1{
    font-size: 2.3rem;
    font-weight: bold;
    color: #0A0826;
}
.popular-descriptions p{
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
}
/*   footer */

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 50px;
}
footer h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
footer p{
    font-size: .94rem;
    font-weight: bold;
    color: #D9DBE1;
}
footer i{
    margin-right: 20px;
}